<script type="text/javascript" src="/static/js/jquery.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/{{STATIC_URL}}js/excanvas.min.js"></script><![endif]-->
    <script src="/static/js/jquery.flot.js"></script>
    <script src="/static/js/jquery.flot.time.js"></script>
    <script src="/static/js/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<title>{{stock.name}} | AcTracker</title>
<h1 style="text-align: center;">
    {{stock.name}}
    {{longName}}
</h1>
<script type="text/javascript">
    google.load("visualization", "1", {packages: ["corechart"]});
    google.setOnLoadCallback(drawChart{{ chart.get_html_id }});
    function drawChart{{ chart.get_html_id }}() {
      var data = google.visualization.arrayToDataTable({{ chart.get_data_json|safe }});
  
      {% if chart.get_options_json %}
        var options = {{ chart.get_options_json|safe }}
      {% else %}
        var options = {};
      {% endif %}
  
      {% block create_chart %}
      var chart = new google.visualization.LineChart(document.getElementById('{{ chart.get_html_id }}'));
      {% endblock %}
      custom_line_chart = chart;
      custom_line_chart.draw(data, options);
  
    }
  </script>
  
  <div id="{{ chart.get_html_id }}" style="width: 100%; height: {{ chart.height }}px;"></div>
{{ chart.as_html }}